* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-color: rgb(150, 218, 228);
    --second-bg-color: #161616;
    --text-color: #f5f6f5;
    --main-color:rgb(36, 21, 90);
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 9%;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

.logo {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.logo:hover {
    transition: scale(1.1);
}

.logo span {
    text-shadow: 0 0 25px var(--main-color);
}

.navbar a{
    display: inline-block;
    color: #100606;
    font-size: 1.7rem;
    text-decoration: none;
    margin: 0 2.5rem;
    font-weight: 500;
    letter-spacing: .02;
    transition: .5s ease;
    transform: translateY(-100px);
    opacity: 0;
    animation: TopSlide 1s ease forwards;
    animation-delay: calc(.2s * var(--vlr));
}
@keyframes  TopSlide{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

.navbar a::after {
    content: '';
    width: 0;
    height: .2rem;
    color: #14ff6a;
    background: rgb(104, 62, 255);
    position: absolute;
    left: 0;
    bottom: -.4rem;
    transition: 0.5s;
}

.navbar a:hover::after {
    width: 100%;
}

.navbar a:hover {
    color:  rgb(104, 62, 255); /* Change this to the main color you want */
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 10rem;
}

/* Customize the background colors for each section */

section.home {
    background-color: #f2f6ed; /* Change this color */
}

section.services {
    background-color: #f2f6ed; /* Change this color */
}

.section.projects {
    background-color:  #f2f6ed; /* Change this color */
}

.section.timeline-section {
    background-color: #f2f6ed; /* Change this color */
}

.section.contact {
    background-color: #f2f6ed; /* Change this color */
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15rem;
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 3rem;
}
span{
    color: var(--main-color);
}
.logo span{
    color: var(--main-color);
}
.home-content h3{
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 3.5;
    color:#000;
}
.home-content h1{
    font-size: 7rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
     color:#000;
}
.home-img {
    border-radius: 40%;
}

.home-img img {
    position: relative;
    top: 3rem;
    width: 20vw; /* Adjust the width as needed */
    border-radius: 40%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    transition: 0.4s ease-in-out;
    filter: drop-shadow(0 0 8rem #6d0e64); /* Add colorful drop shadow */
}

.home-img img:hover {
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color),
                0 0 100px var(--main-color);
}

.home-content p{
    font-size: 1.5rem;
    font-weight: 500;
    max-width: 1000px;
}
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background:transparent;
    border: 0.2rem solid var(--main-color);
    font-size: 2.5rem;
    border-radius: 1rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease-in-out;
}
.social-icons a:hover{
    color: var(--text-color);
    transform: scale(1.3)translateY(-5px);
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--bg-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.05);
    background:var(--main-color);
    color: var(--text-color);
    border: 2px solid var(--main-color);
    box-shadow: 0 0 50px var(--main-color);
}
.text-animation{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}
.text-animation span{
    position: relative;
}
.text-animation span::before{
    content: "Web Developer";
    color: var(--main-color);
    animation: words 20s infinite;
}
.text-animation span::after{
    content: "";
    background-color: var(--bg-color);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--bg-color);
    right: -8px;
    animation: cursor 0.6s infinite,typing 20s steps(14)infinite;
}
@keyframes cursor{
    to{
        border-left: 2px solid var(--main-color);
    }
}
@keyframes words{
    0%,
    20%{
        content: "Frontend Designer";
    }
    21%,
    40%{
        content: "Web Designer";
    }
    41%,
    60%{
        content: "UI /UX Designer";
    }
    61%,
    80%{
        content: "Web Developer";
    }
    81%,
    100%{
        content: "Software Teaser";
    }
}
@keyframes typing{
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95%{
        width: 0;
    }
   5%,
   20%,
   25%,
   40%,
   45%,
   60%,
   65%,
   80%,
   85%{
    width: calc(100% + 8px);
   }

}
.heading{
    text-align: center;
    font-size: 8rem;
}
.services{
    background-color: var(--second-bg-color);
}
.services h2{
    margin-bottom: 8rem;
}
.service-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.service-container .services-box{
    flex: 1 1 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: var(--bg-color);
    padding: 3rem 2rem 4rem;
    height: 550px;
    border-radius: 2rem;
    border: 3px solid var(--main-color);
    cursor: pointer;
    transition: .3s ease-in-out;
}
.service-container .services-box:hover{
    transform: scale(1.02);
    background-color: #f5f6f5;
    color: black;
}
.services-box i{
    font-size: 7rem;
    color: var(--main-color);
    margin-bottom: 1rem;
}
.services-box h3{
    font-size: 2.6rem;
}
.services-box p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
    font-weight: 500;
}
.services-box .btn{
    background-color: transparent;
}
.services-box .btn:hover{
    color: var(--main-color);
    background-color: black;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}
::-webkit-scrollbar-track{
    background-color: var(--bg-color);
    width: 50px;
}
.projects{
    background-color:  #f2f6ed;
}
.projects-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2rem;
}
.projects-container .projects-box{
    position: relative;
    height: 500px;
    overflow: hidden;
    display: flex;
    border-radius: 2rem;
    border: 3px solid transparent;
    transition: .5s ease-in-out;
}
.projects-box :hover{
    border: 3px solid var(--main-color);
}
.projects-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s ease-in-out;
}
.projects-box:hover img{
    transform: scale(1.05);
}
.projects-box .project-info{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    padding:0 4rem;
    cursor: pointer;
    transition: .5s ease-in-out;
    backdrop-filter: grayscale(0%);
}
.project-info h4{
    font-size: 4rem;
    color: var(--main-color);
    font-weight: 800;
}
.project-info p{
    font-size: 1.6rem;
    margin: 0.3rem 0 1rem;
    color:  var(--main-color);
}
.timeline-section{
    background: #cae4e5;
    padding: 100px 15px;
}
.timeline-section h2{
    margin-bottom: 5rem;
}
.timeline-items{
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.timeline-items::before{
    content: '';
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: var(--main-color);
    left: calc(50% - 1px);
}
.timeline-item{
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}
.timeline-item:last-child{
    margin-bottom: 0 ;
}
.timeline-item:nth-child(odd){
    padding-right:calc(50% + 30px) ;
    text-align: right;
}
.timeline-item:nth-child(even){
    padding-left:calc(50% + 30px) ;
}
.timeline-dot{
    height: 21px;
    width: 21px;
    background-color: var(--main-color);
    box-shadow:0 0 25px var(--main-color);
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 10px;
}
.timeline-date{
    font-size: 20px;
    font-weight: 800;
    color: white;
    margin: 6px 0 15px;
}
.timeline-content{
    background-color: var(--bg-color);
    backdrop-filter: blur(20px);
    border: 2px solid var(--main-color);
    box-shadow: 0 0 10px var(--main-color);
    padding: 30px;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.timeline-content:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--main-color);
}
.timeline-content h3{
    font-size: 20px;
    color: var(--main-color);
    margin: 0 0 10px;
    text-transform: capitalize;
    font-weight: 800;
}
.timeline-content p{
    color: white;
    opacity: 0.8;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
}
.contact{
    background-color: var(--bg-color);
}
.contact h2{
    margin-bottom: 3rem;
}
.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.contact form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: 0.8rem;
    border:2px solid var(--main-color);
    margin:1rem 0;
    resize: none;
}
.contact form .btn{
    margin-top: 2rem;
}
.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: var(--second-bg-color);
}
.footer .social{
    text-align: center;
    padding-bottom:25px ;
    color: white;
}
.footer .social a{
    font-size: 25px;
    color: var(--main-color);
    width: 42px;
    height: 42px;
    border: 2px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease-in-out;
}
.footer .social a:hover{
    transform: scale(1.2)translateY(-10px);
    background-color: var(--main-color);
    color: var(--text-color);
    box-shadow: 0 0 25px var(--main-color);
}
.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6rem;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a{
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;
}
.footer ul li a:hover{
    border-bottom: 3px solid var(--main-color);
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
@media(max-width:995px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        border-left: 3px solid var(--main-color);
        border-bottom: 3px solid var(--main-color);
        border-top-left-radius: 2em;
        padding: 1rem 3%;
        background: #cae4e5;
        display: none;
    }
    .navbar.active{
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }
    .home-content h3{
        font-size: 2.6rem;
    }
    .home-content h1{
        font-size: 5rem;
    }
    .home-img img{
        width: 60vw;
        margin-top: 4rem;

    }
    .services-box{
        margin: 0 5rem;
    }
    .services h2{
        margin-bottom: 3rem;
    }
    .projects h2{
        margin-bottom: 3rem;
    }
    .timeline-items::before{
        left: 7px;
    }
    .timeline-item:nth-child(odd){
        padding-right: 0;
        text-align: center;
    }
    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even){
        padding-left: 37px;
    }
    .timeline-dot{
        left: 0;
    }

}

